@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .masonry-3-col {
            column-count: 3;
            column-gap: 1em;
        }
        .masonry-2-col {
            column-count: 2;
            column-gap: 1em;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}

@layer components {
    .VueCarousel-navigation-prev {
            background: url('../images/chevron-prev.svg');        }
    .VueCarousel-navigation-next {
            background: url('../images/chevron-next.svg');
        }

      }